*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Android Studio
.idea/
build/
*.iml


# Optional Content
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
*.orig
